* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  padding: 5rem;
  /* border: 2rem solid blueviolet; */
  /* border-radius: 10px; */
  color: rgb(94, 91, 91);
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template: "title form email";
  gap: 2rem; */
}

h1 {
  /* grid-area: title; */
  margin-bottom: 1rem;
  background-color: blueviolet;
  color: white;
  height: 8rem;
  padding: 4rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
form {
  /* grid-area: form; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding: 2rem;
}

form input {
  margin-bottom: 1rem;
  line-height: 2rem;
}

form button {
  margin-top: 1rem;
  background-color: blueviolet;
  width: 50%;
  align-self: center;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

h5 {
  /* grid-area: email; */
  padding: 2rem;
  text-align: center;
}
