* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  /* height: 100vh; */
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 15px;
  grid-template:
    "nav        nav"
    "animation  introduction"
    "projects   projects"
    "footer     footer";
}

header,
.animation
/* .projects, */ {
  height: 100vh;
}

/* .about-me,
.contact-me {
  margin-top: 3rem;
} */
nav {
  grid-area: nav;
  font-size: 1.6rem;
  width: 100%;
}

nav a {
  border: 1px solid blueviolet;
  padding: 3px 2rem;
  border-radius: 10px;
  text-decoration: none;
  color: blueviolet;
}

nav a:hover {
  background-color: blueviolet;
  color: white;
  transition: 0.8s;
  border: 2px solid white;
}

.nav-item a:hover {
  color: white;
}

.animation {
  grid-area: animation;
  margin: 0 7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.dot {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: blueviolet;
  align-self: flex-end;
  animation-name: jumpCircle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.animation div {
  font-size: 35rem;
  font-style: bold;
}

.container-hey {
  color: blueviolet;
  animation-name: lighting;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.container-name {
  color: blueviolet;
  display: flex;
  justify-content: center;
}
.container-name div {
  animation-name: jumping;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.container-name div:nth-of-type(2) {
  font-size: 25rem;
  align-self: center;
  animation-delay: 0.3s;
}
.container-name div:nth-of-type(3) {
  animation-delay: 0.5s;
}
.container-name div:nth-of-type(4) {
  font-size: 25rem;
  animation-delay: 0.7s;
}

.introduction {
  grid-area: introduction;
  margin: 6rem;
  padding: 0 5rem;
  align-self: center;
  font-size: 1.6rem;
}

.introduction h3 {
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
}

.introduction p {
  padding: 2rem 0;
  text-align: justify;
}

.introduction a {
  text-decoration: none;
  color: blueviolet;
}

.projects {
  grid-area: projects;
  /* margin-bottom: 3rem; */
  margin: 5rem;
  font-size: 1.6rem;
}

.projects h3 {
  border-top: 1px solid lightgray;
  padding: 3rem;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: blueviolet;
  animation-name: lighting;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

.project-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10rem;
  /* margin: 4rem ; */
}
.card {
  border: none;
  text-align: center;
}

.card-title a {
  font-size: 2rem;
  text-decoration: none;
  color: blueviolet;
}
/* .card-marcelo {
  opacity: 50%;
} */

.working {
  opacity: 0;
  color: blueviolet;
  background-color: white;
  animation-name: working;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me {
  grid-area: about-me;
  margin-bottom: 3rem;
}

.about-me-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.skill-cards {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  color: blueviolet;
  align-items: center;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 5rem;
}

@keyframes lighting {
  0% {
    text-shadow: 2px 2px 4px lightyellow;
  }
  5% {
    text-shadow: 2px 2px 4px yellow;
  }
  30% {
    text-shadow: 2px 2px 4px lightyellow;
    font-style: italic;
  }
}

@keyframes jumping {
  0% {
    transform: translateY(-5px);
  }
  20% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes jumpCircle {
  10% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes working {
  2% {
    opacity: 0;
    transform: translateY(5px);
  }
  50% {
    opacity: 99;
    transform: translateY(200px);
  }

  100% {
    transform: translateY(350px);
  }
}

@media (max-width: 576px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 15px;
    grid-template:
      "nav"
      "animation"
      "introduction"
      "projects"
      "footer ";
  }
}
